.navbar_outter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.navbar__menu {
  display: inline-flex;

  list-style-type: none;
  overflow: hidden;
}

.navbar__item {
  padding: 14px 16px;
  text-align: center;
  display: block;
}
