
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assist/images/body.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s, color 0.3s, background 0.3s;
}

.name {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik Doodle Shadow', system-ui;
}

.dark-mode {

  background-image: url('./assist/images/bg2.jpg');
  color: white;
}

.dark-mode .name {
  color: white;
}
